import os
ENVIRONMENT = {
    # Postgres
    'pg_database': os.getenv("PG_DATABASE", "your_db"),
    'pg_user': os.getenv("PG_USER", "your_user"),
    'pg_password': os.getenv("PG_PASSWORD", "your_password"),
    'pg_host': os.getenv("PG_HOST", "localhost"),
    'pg_port': os.getenv("PG_PORT", ""),
    # Project
    'secret': os.getenv("SECRET_KEY", 'your_secret'),
    'project': "your_project_name",
    'hosts': 'your_production_hosts',
}