#slide-out {
  width: 120px;
  background-color: #1C262B;
}

#slide-out {

  a {
    color: unset;
    display: unset;
    font-size: unset;
    font-weight: unset;
    height: unset;
    line-height: unset;
    padding: unset;
  }

  li {

    &.current {
      span, i {
        color: white !important;
      }
      background: lighten(#1C262B, 5%) !important;
    }
    div {
      line-height: 30px;
      text-align: center;
      padding-bottom: 15px;
      padding-top: 15px;
    }

    span {
      display: block;
      color: lighten(#1C262B, 60%);
    }

    i {
      height: 30px;
      line-height: 30px;
      color: lighten(#1C262B, 60%);

    }

    &:hover:not(.nohover) {
      span, i {
        color: white;
      }
      background: lighten(#1C262B, 5%);
    }

  }

  .social-icons {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    img {
      width: 20px;

      &:hover {
        transition: all .2s ease-in-out;
        transform: scale(1.5);
      }
    }
  }

}

.pic-n-name {

  line-height: 0 !important;
  padding: 0 !important;
  span {
    background: #2BA163;
    display: block;
    text-align: center;
    line-height: 18px;
    padding: 10px 0 10px 0;
  }

}

nav {
  background: transparent;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  padding-left: 120px;
  background-color: darken(#345, 10%);
}

.title {
  font-size: 64px;
  font-weight: bold;
  display: block;
  color: #345;

}

.section-title {
  margin: 2em 0 2em;
  position: relative;
  z-index: 10;
}

.section-title h2 {
  margin: 0;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  font-weight: bolder;
  letter-spacing: 0.2em;
  white-space: nowrap;
  text-align: center;
  box-shadow: 0 0 4px 0 #888888;

}

.section-title h2:after,
.section-title h2:before {
  content: " ";
  display: block;
  position: absolute;
  bottom: -.5em;
  width: 2em;
  height: 100%;
  background-color: #7DB376;
  pointer-events: none;
  box-shadow: 0 0 4px 0 #888888;

}

.section-title h2:after {
  right: -1.57em;
  z-index: -1;
}

.section-title h2:before {
  bottom: auto;
  top: -.5em;
  left: -1.57em;
  z-index: -1;
}

.section-title h2 span {
  display: inline-block;
  position: relative;
  padding: .8em 3em;
  font-style: normal;
  color: #fff;
  background-color: #8ACB82;
}

.section-title h2 span:after, h2 span:before {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  bottom: -.5em;
  left: -.05em;
  pointer-events: none;
  -webkit-mask: none;
}

.section-title h2 span:before {
  bottom: auto;
  top: -.5em;
  border-bottom: 0.5em solid #080b0c;
  border-bottom: 0.5em solid rgba(8, 11, 12, 0.2);
  border-left: .5em solid transparent;
}

.section-title h2 span:after {
  left: auto;
  right: -.05em;
  border-top: 0.5em solid #080b0c;
  border-top: 0.5em solid rgba(8, 11, 12, 0.2);
  border-right: .5em solid transparent;
}

@media only screen and (max-width: 992px) {
  body {
    padding-left: 0
  }

  nav {
    background: #1C262B;
  }

  h5 > span {
    display: block;
    margin: 0 0 15px 0
  }
}